@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=UnifrakturMaguntia&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url('about-page2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  .corner-link {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .corner-image {
    width: 130px;
    height: 150px;
  }
  
  .bottom-right-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Tangerine', cursive; 
    font-size: 32px;
    color: #141414; 
  }
  